

    {% extends 'test1/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post_detail.pk %}">
                edit
            </a>
            {% endif %}
        </aside>
        {% if post_detail.published_date %}
            <time class="date">
                {{ post_detail.published_date }}
            </time>
        {% endif %}
        <h2>{{ post_detail.title }}</h2>
        <p>{{ post_detail.text|linebreaksbr }}</p>
    </article>
{% endblock %}


